<div class="
  border-primary-700 hover:bg-primary-800 focus:ring-primary-300 dark:border-primary-500 dark:hover:bg-primary-500 dark:focus:ring-primary-800 text-primary-700 dark:text-primary-500
border-secondary-600 hover:bg-secondary-600 focus:ring-secondary-300 dark:border-secondary-500 dark:hover:bg-secondary-500 dark:focus:ring-secondary-800 text-secondary-700 dark:text-secondary-500
border-create-600 hover:border-create-500 hover:bg-create-500 focus:ring-create-300 dark:border-create-500 dark:hover:bg-create-500 dark:focus:ring-create-800 text-create-600 dark:text-create-500 
border focus:ring-4 focus:outline-none rounded-lg mr-2 mb-2 font-medium text-center font-semibold hover:text-white dark:hover:text-white
px-3 py-2 text-sm
px-4 py-2.5 text-base
px-5 py-2.5 text-lg
hidden
">
</div>
