<p><%= t("passwordless.mailer.sign_in.token_text") %> <span id="token"><%= @token %></span></p>
<p><%= t("passwordless.mailer.sign_in.link_text") %> <span id="magic_link"><%= @magic_link %></span></p>
