<div class="bg-white shadow-lg rounded-md border-gray-200 hover:shadow-gray-500 focus-within:shadow-gray-500 dark:bg-gray-800 dark:border-red-500 dark:hover:shadow-red-400 dark:text-white <%= html_classes %> flex flex-col gap-6 transition-all duration-200">
  <%= content %>
</div>
