<div class="bg-white shadow-lg rounded-md px-4 border-x border-b border-gray-200 hover:shadow-gray-500 dark:bg-gray-800 dark:border-red-500 dark:hover:shadow-red-400 dark:text-white">
  <%= content %>
</div>
